@model IList<CaelumEstoque.Models.Produto>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Quantidade</th>
        </tr>     
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>
                        <!--@Html.ActionLink(item.Nome, "Visualiza", new { Id = item.Id })-->
                        @Html.RouteLink(item.Nome, "VisualizaProdutos", new { Id = item.Id })
                    </td>
                    <td>@item.Quantidade</td>
                </tr>
            }
        }
    </tbody>
</table> 