
<form action="/Categoria/Adiciona" method="post">
    <label for="nome">Nome:</label>
    <input id="nome" name="categoria.Nome" class="form-control"/>
    <label for="descricao">Descrição:</label>
    <input id="decsricao" name="categoria.Descricao" class="form-control" />
    <br />
    <input type="submit" value="Cadastrar" class="pull-right"/>
</form> 
   